@model PagedList.Core.IPagedList<GreenMobility.Models.Bicycle>
@{
    Parking parking = ViewBag.CurrentParking;
    ViewData["Title"] = parking.ParkingName + ": page  " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;
    int PageNext = PageCurrent + 1;
}
<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/assets/images/breadcrumb/bg/becdanhphoto.png">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <h2 class="breadcrumb-heading">@parking.ParkingName</h2>
                        <ul>
                            <li>
                                <a sp-controller="Home" asp-action="Index">@_localization.Getkey("Home")<i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>
                                <a sp-controller="Rentals" asp-action="Index">@_localization.Getkey("Rental")<i class="pe-7s-angle-right"></i></a>
                            </li>
                            <li>@parking.ParkingName</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="/assets/images/about/banner/1-1-1920x598.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="parallax-img-wrap">
                        <div class="papaya">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img src="~/images/parkings/@parking.Photo" alt="Banner Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="about-banner-content">
                        <div class="section-title">
                            <span class="sub-title">Welcome To </span>
                            <h2 class="title font-size-60 mb-6">@parking.ParkingName</h2>
                            <p class="short-desc mb-0">Địa chỉ: @parking.Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shop-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-topbar">
                        @if (Model != null && Model.Count() > 0)
                        {
                            <ul class="list-unstyled d-flex justify-content-center">
                                <li class="page-count">
                                    <span>@_localization.Getkey("Total") @Model.TotalItemCount @_localization.Getkey("BicycleAt") @parking.ParkingName</span>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <p class="text-center">@_localization.Getkey("ZeroBicycle") @parking.ParkingName</p>
                        }
                    </div>


                    <div class="tab-content text-charcoal pt-8">
                        <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="col-lg-3 col-sm-6 mb-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a>
                                                        <img class="img-full" src="~/images/bicycles/@item.Photo" alt="@item.Alias" style="object-fit: contain;">
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            <li>
                                                                <a class="add-to-cart" data-bicycle-id="@item.BicycleId">
                                                                    <i class="pe-7s-cart"></i>
                                                                    <input type="hidden" id="bicycleId_@item.BicycleId" value="@item.BicycleId" />
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name" href="single-product.html">@item.LicensePlate</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.RentalPrice.Value.ToString("#,##0") VNĐ</span>
                                                    </div>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">@item.Parking.Address</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model != null && Model.Count() > 0)
                    {
                        <div class="pagination-area pt-10">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                                        <a class="page-link" asp-action="List" asp-route-page="@(Model.HasPreviousPage ? Model.PageNumber - 1 : 1)" aria-label="Previous">
                                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </a>
                                    </li>

                                    @for (int i = 1; i <= Model.PageCount; i++)
                                    {
                                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                            <a class="page-link" asp-action="List" asp-route-page="@i">@i</a>
                                        </li>
                                    }

                                    <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                                        <a class="page-link" asp-action="List" asp-route-page="@(Model.HasNextPage ? Model.PageNumber + 1 : Model.PageNumber)"aria-label="Next">
                                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(document).on('click', '.add-to-cart', function () {
                var bicycleId = $(this).data("bicycle-id");
                $.ajax({
                    url: '/api/cart/add',
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        bicycleId: bicycleId,
                    },
                    success: function (response) {
                        if (response.success) {
                            localStorage.setItem('notificationMessage', response.message);
                            location.reload();
                        } else {
                            notyf.error(response.message);
                        }
                    },
                    error: function (error) {
                        notyf.error("Có lỗi xảy ra khi thêm sản phẩm vào giỏ hàng: " + error.responseText);
                    }
                });
            });

            var notificationMessage = localStorage.getItem('notificationMessage');
            if (notificationMessage) {
                notyf.success(notificationMessage);
                localStorage.removeItem('notificationMessage');
            }
        });

    </script>
}
