@model GreenMobility.Models.Bicycle

@{
    ViewData["Title"] = "Thông tin xe đạp";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header no-gutters">
    <div class="row align-items-md-center">
        <div class="col-md-7">
            <h2 class="header-title">Quản lý xe đạp</h2>
            <div class="header-sub-title">
                <nav class="breadcrumb breadcrumb-dash">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                    <a asp-area="Admin" asp-controller="AdminBicycles" asp-action="Index" class="breadcrumb-item">Danh sách xe đạp</a>
                    <span class="breadcrumb-item active">Thông tin xe đạp</span>
                </nav>
            </div>
        </div>
        <div class="col-md-5">
            <div class="text-md-right d-flex justify-content-end">
                <a class="btn btn-primary btn-tone mr-2" asp-area="Admin" asp-controller="Adminbicycles" asp-action="Edit" asp-route-id="@Model.BicycleId">Sửa đổi</a>
                <form id="deleteForm" method="post" asp-action="Delete" asp-route-id="@Model.BicycleId" class="mr-2">
                    <button type="submit" class="btn btn-danger btn-tone">Xóa</button>
                </form>
                <a asp-area="Admin" asp-controller="AdminBicycles" asp-action="Index" class="btn btn-success btn-tone">Quay lại</a>
            </div>
        </div>
    </div>
</div>
<div class="tab-content m-t-15">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thông tin xe đạp</h4>
        </div>
        <div class="card-body">
            <div class="media align-items-center">
                <div class="img-fluid m-h-10 m-r-15" style="height: 80px; width: 120px">
                    <img id="avatarPreview" src="~/images/bicycles/@Model.Photo" alt="Avatar Preview" style="object-fit: contain; width: 100%; height: 100%;">
                </div>

                <div class="m-l-20 m-r-20">
                    <h5 class="m-b-5 font-size-18">@Model.BicycleName - @Model.LicensePlate</h5>
                </div>
            </div>
            <hr class="m-v-25">
            <div class="table-responsive">
                <table class="product-info-table m-t-20">
                    <tbody>
                        <tr>
                            <td>Tên xe đạp:</td>
                            <td class="text-dark font-weight-semibold">@Model.BicycleName</td>
                        </tr>
                        <tr>
                            <td>Biển số:</td>
                            <td>@Model.LicensePlate</td>
                        </tr>
                        <tr>
                            <td>Alias:</td>
                            <td>@Model.Alias</td>
                        </tr>
                        <tr>
                            <td>Giá thuê:</td>
                            <td>@Model.RentalPrice</td>
                        </tr>
                        <tr>
                            <td>Trạng thái:</td>
                            <td>@Model.BicycleStatus?.Description</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">THÔNG TIN MÔ TẢ</h4>
        </div>
        <div class="card-body">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>
@section scripts {
    <script>
        document.getElementById("deleteForm").addEventListener("submit", function (event) {
            event.preventDefault();

            if (confirm("Bạn có chắc chắn muốn xóa xe đạp này?")) {
                this.submit();
            }
        });
    </script>
}