@model PagedList.Core.IPagedList<GreenMobility.Models.Bicycle>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Quản lý xe đạp: page " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header no-gutters">
    <div class="row align-items-md-center">
        <div class="col-md-8">
            <h2 class="header-title">Quản lý xe đạp</h2>
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <span class="breadcrumb-item active">Danh sách xe đạp : Trang @CurrentPage</span>
            </nav>
        </div>
        <div class="col-md-4">
            <div class="text-md-right">
                <div>
                    <a class="btn btn-primary" asp-controller="AdminBicycles" asp-action="Create">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Thêm mới xe</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-10">
                        <div class="input-affix m-v-4">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm">
                        </div>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" id="status" name="status" style="min-width: 180px;" asp-items="ViewBag.Status">
                            <option value="" disabled selected>Chọn trạng thái</option>
                            <option value="0" selected>Tất cả trạng thái</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên xe đạp</th>
                        <th scope="col">Biển số</th>
                        <th scope="col">Bãi đỗ</th>
                        <th scope="col">Trạng thái</th>
                        <th class="text-right" scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        int OrdinalNumber = (CurrentPage - 1) * Model.PageSize;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(++OrdinalNumber)</td>
                                <td>@item.BicycleName</td>
                                <td><a asp-controller="AdminBicycles" asp-action="Details" asp-route-id="@item.BicycleId">@item.LicensePlate</a></td>
                                <td>@item.Parking.ParkingName</td>
                                <td>@item.BicycleStatus.Description</td>
                                <td class="text-right">
                                    <a class="btn btn-icon btn-hover btn-sm btn-rounded" asp-controller="AdminBicycles" asp-action="Edit" asp-route-id="@item.BicycleId">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <form class="deleteForm" method="post" asp-controller="AdminBicycles" asp-action="Delete" asp-route-id="@item.BicycleId" style="display:inline-block;">
                                        <button type="submit" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <i class="anticon anticon-delete"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6" class="text-left">Chưa có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if (Model != null && Model.Count > 0)
        {
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <ul class="pagination">
                        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminBicycles" asp-route-status="@ViewBag.CurrentStatus" asp-route-keyword="@ViewBag.Keyword" asp-action="Index"></pager>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-7 text-right">
                    <p>Đang xem @Model.FirstItemOnPage đến @Model.LastItemOnPage trong tổng số @Model.TotalItemCount mục</p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#status, #keyword").change(function () {
                var status = $("#status").children(":selected").val();
                var keyword = $("#keyword").val();
                status = parseFloat(status);
                $('#status option').removeAttr('selected');
                $("#status > [value = " + status + "]").attr("selected", true);
                $.ajax({
                    url: '/Admin/AdminBicycles/FilterAndSearch',
                    dataType: "json",
                    type: 'GET',
                    data: { status: status, keyword: keyword },
                    success: function (response) {
                        if (response.status === "success") {
                            window.location.href = response.redirectUrl;
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
        $(function () {
            var status = @ViewBag.CurrentStatus;
            $("#status").val(status);
            var keyword = "@ViewBag.Keyword";
            $("#keyword").val(keyword);
        });
        $('.deleteForm').on('submit', function (event) {
            event.preventDefault();
            if (confirm("Bạn có chắc chắn muốn xóa xe đạp này?")) {
                this.submit();
            }
        });
    </script>
}
