@model GreenMobility.ViewModels.RentalVM
@{
    var total = Model.RentalDetails.Sum(x => x.RentalFee).Value.ToString("#,##0");
}
<h3>@_localization.Getkey("RentalInfor"): #@Model.Rental.RentalId</h3>
<br />
<p>@_localization.Getkey("RentalDate"): @Model.Rental.OrderTime</p>
<p>@_localization.Getkey("TotalMoney"): <strong> @total VNĐ</strong></p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>@_localization.Getkey("BicycleName")</th>
                <th>@_localization.Getkey("LicensePlate")</th>
                <th>@_localization.Getkey("UnitPrice")</th>
                <th>@_localization.Getkey("Amount")</th>
            </tr>

            @foreach (var item in Model.RentalDetails)
            {
                <tr>
                    <td>@item.BicycleId</td>
                    <td>@item.Bicycle.BicycleName</td>
                    <td>@item.Bicycle.LicensePlate</td>
                    <td>@item.Bicycle.RentalPrice.Value.ToString("#,##0") VNĐ</td>
                    <td>@item.RentalFee.Value.ToString("#,##0") VNĐ</td>
                </tr>
            }
        </tbody>
    </table>
</div>
