@model GreenMobility.ViewModels.RentalVM
@{
    var total = Model.RentalDetails.Sum(x => x.RentalFee).Value.ToString("#,##0");
}
<h3>@_localization.Getkey("RentalInfor"): #@Model.Rental.RentalId</h3>
<br />
<div class="row">
    <div class="col">
        <p>@_localization.Getkey("RentalDate"): @Model.Rental.OrderTime</p>
        <p>@_localization.Getkey("BicyclePickupArea"): @Model.Rental.PickupParkingNavigation.ParkingName</p>
        @if (@Model.Rental.RentalStatusId == 3)
        {
            <p>@_localization.Getkey("BicycleReturnArea"): @Model.Rental.ReturnParkingNavigation.ParkingName</p>
        }
    </div>
    <div class="col">
        <p>@_localization.Getkey("RentalDuration"): @Model.Rental.HoursRented @_localization.Getkey("Hours")</p>
        @if (@Model.Rental.RentalStatusId == 2)
        {
            <p>@_localization.Getkey("RentalDate"): @Model.Rental.PickupTime</p>
        }
        @if (@Model.Rental.RentalStatusId == 3)
        {
            <p>@_localization.Getkey("PickupTime"): @Model.Rental.PickupTime</p>
            <p>@_localization.Getkey("ReturnTime"): @Model.Rental.ReturnTime</p>
        }
        <p>@_localization.Getkey("TotalMoney"): <strong> @total VNĐ</strong></p>
    </div>
</div>
<br />
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <th>#</th>
                <th>@_localization.Getkey("BicycleName")</th>
                <th>@_localization.Getkey("LicensePlate")</th>
                <th>@_localization.Getkey("UnitPrice")</th>
                <th>@_localization.Getkey("Amount")</th>
            </tr>

            @foreach (var item in Model.RentalDetails)
            {
                <tr>
                    <td>@item.BicycleId</td>
                    <td>@item.Bicycle.BicycleName</td>
                    <td>@item.Bicycle.LicensePlate</td>
                    <td>@item.Bicycle.RentalPrice.Value.ToString("#,##0") VNĐ</td>
                    <td>@item.RentalFee.Value.ToString("#,##0") VNĐ</td>
                </tr>
            }
        </tbody>
    </table>
</div>
