@model PagedList.Core.IPagedList<GreenMobility.Models.Rental>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách đơn thuê xe: page " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header no-gutters">
    <div class="row align-items-md-center">
        <div class="col-md-8">
            <h2 class="header-title">Quản lý đơn thuê xe </h2>
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <span class="breadcrumb-item active">Danh sách đơn thuê xe : Trang @CurrentPage</span>
            </nav>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-10">
                        <div class="input-affix m-v-4">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm">
                        </div>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" id="status" name="status" style="min-width: 180px;" asp-items="ViewBag.Status">
                            <option value="" disabled selected>Chọn trạng thái</option>
                            <option value="0" selected>Tất cả trạng thái</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <button id="exportExcelButton" class="btn btn-primary"><i class="anticon anticon-file-excel m-r-5"></i><span>Xuất Excel</span></button>
            </div>
            <div id="exportExcelModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exportExcelModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exportExcelModalLabel">Chọn kiểu xuất Excel</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="exportOption">Chọn kiểu xuất Excel:</label>
                                <select class="form-control" id="exportOption">
                                    <option value="dateRange">Ngày</option>
                                    <option value="month">Tháng</option>
                                    <option value="year">Năm</option>
                                </select>
                            </div>
                            <div class="form-group dateRange">
                                <label for="fromDate">Từ ngày:</label>
                                <input type="datetime-local" id="fromDate" name="fromDate" class="form-control" />
                                <label for="toDate">Đến ngày:</label>
                                <input type="datetime-local" id="toDate" name="toDate" class="form-control" />
                            </div>
                            <div class="form-group month" style="display: none;">
                                <label for="month">Chọn tháng:</label>
                                <input type="month" id="month" name="month" class="form-control" />
                            </div>
                            <div class="form-group year" style="display: none;">
                                <label for="year">Chọn năm:</label>
                                <input type="number" id="year" name="year" class="form-control" min="2000" max="2100" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" id="confirmExportButton">Xuất Excel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Khách hàng</th>
                        <th>Bãi đỗ</th>
                        <th>Ngày đặt</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th class="text-right" scope="col">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RentalId</td>
                            <td> <a asp-controller="AdminCustomers" asp-action="Details" asp-route-id="@item.Customer.CustomerId">@item.Customer.FullName</a></td>
                            <td>@item.PickupParkingNavigation.ParkingName</td>
                            <td>@item.OrderTime</td>
                            <td>@item.TotalMoney</td>
                            <td>@item.RentalStatus.Description</td>
                            <td class="text-right">
                                <a data-target="#modal-header" data-toggle="modal" class="btn btn-icon btn-hover btn-sm btn-rounded" asp-area="Admin" asp-controller="AdminRentals" asp-action="Edit" asp-route-id="@item.RentalId">
                                    <i class="anticon anticon-edit"></i>
                                </a>
                                <a class="btn btn-icon btn-hover btn-sm btn-rounded" asp-controller="AdminRentals" asp-action="Details" asp-route-id="@item.RentalId">
                                    <i class="anticon anticon-eye"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-5">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminBicycles" asp-route-Status="@ViewBag.CurrentStatus" asp-action="Index"></pager>
                </ul>
            </div>

            <div class="col-sm-12 col-md-7 text-right">
                <p>Tổng số đơn thuê: @Model.TotalItemCount</p>
            </div>
        </div>
    </div>
</div>
<div id="modal-header" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('#modal-header').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        jQuery(document).ready(function () {
            $("#status, #keyword").change(function () {
                var status = $("#status").children(":selected").val();
                var keyword = $("#keyword").val();
                status = parseFloat(status);
                $('#status option').removeAttr('selected');
                $("#status > [value = " + status + "]").attr("selected", true);
                $.ajax({
                    url: '/Admin/AdminRentals/FilterAndSearch',
                    dataType: "json",
                    type: 'GET',
                    data: { status: status, keyword: keyword },
                    success: function (response) {
                        if (response.status === "success") {
                            window.location.href = response.redirectUrl;
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            });

            function getCurrentDateTime() {
                var now = new Date();
                var year = now.getFullYear();
                var month = ('0' + (now.getMonth() + 1)).slice(-2);
                var date = ('0' + now.getDate()).slice(-2);
                var hours = ('0' + now.getHours()).slice(-2);
                var minutes = ('0' + now.getMinutes()).slice(-2);
                var currentDate = `${year}-${month}-${date}`;
                var currentDateTime = `${currentDate}T${hours}:${minutes}`;
                var currentMonth = `${year}-${month}`;
                return { currentDateTime, currentMonth, year };
            }

            $("#exportExcelButton").click(function () {
                var { currentDateTime, currentMonth, year } = getCurrentDateTime();
                $("#fromDate").val(currentDateTime);
                $("#toDate").val(currentDateTime);
                $("#month").val(currentMonth);
                $("#year").val(year);
                $("#exportExcelModal").modal("show");
            });

            $("#exportOption").change(function () {
                var exportOption = $(this).val();
                $(".dateRange, .month, .year").hide();
                if (exportOption === "dateRange") {
                    $(".dateRange").show();
                } else if (exportOption === "month") {
                    $(".month").show();
                } else if (exportOption === "year") {
                    $(".year").show();
                }
            });

            $("#confirmExportButton").click(function () {
                var exportOption = $("#exportOption").val();
                var fromDate = $("#fromDate").val();
                var toDate = $("#toDate").val();
                var month = $("#month").val();
                var year = $("#year").val();

                $.ajax({
                    dataType: 'json',
                    type: 'GET',
                    url: '/Admin/AdminRentals/ExportExcel',
                    data: { exportOption: exportOption, fromDate: fromDate, toDate: toDate, month: month, year: year },
                    success: function (response) {
                        if (response.success) {
                            window.location.href = response.fileUrl;
                        } else {
                            alert("Đã xảy ra lỗi khi xuất Excel");
                        }
                        $("#exportExcelModal").modal("hide");
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        $("#exportExcelModal").modal("hide");
                    }
                });
            });
        });
        $(function () {
            var status = @ViewBag.CurrentStatus;
            $("#status").val(status);
            var keyword = "@ViewBag.CurrentKeyword";
            $("#keyword").val(keyword);
        });

    </script>
} 